/* The styles for the elements */

/* Fig 4-10: First, NOTE the different commenting style used 
   here; it is similar to C-style block comments */

/* Fig 4-10: HTML elements can be selected by element type, class, or id.
   The body ... shown here will apply the specified styles in the 
   ... to the <body> element in 
   the HTML page(s) that ...; 
   thus, this is a ..., with accompanying ... */
body { 
    
    /* Fig. 4-11: A CSS rule consists of a ..., then a ... (:),
       then a ..., and then a semicolon terminator */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    margin-left: 2em;
    margin-right: 2em;
    width: 400px;
}

/* On your own, learn (or review) how the CSS "box model" works:
   http://www.w3schools.com/css/css_boxmodel.asp */

/* Fig 4-10: Similarly, the h1 element selector will apply the specified 
   styles in this rule set to ... on the HTML page(s) that
   ... */
h1 {     
    font-size: 160%;
    color: teal;
    margin-bottom: .5em;    
}

/* Fig 4-10: Similarly, these styles are applied to ... */
h2 {     
    font-size: 130%;
    color: teal;
    margin-bottom: .5em;    
}

/* Fig 4-11: ...all <label> elements... */
label {
    float: left;
    width: 7em;
    margin-bottom: 0.5em;
    padding-top: .3em;
    font-weight: bold;
}

/* Fig 4-11: This selector will apply the rule set
   only to those ...
   set to type="text" OR type="email" */
input[type="text"], input[type="email"] {  /* An attribute selector */
    width: 15em;
    margin-left: 0.5em;    
    margin-bottom: 0.5em;
}

/* Fig 4-11: select all <span> inline elements... */
span {
    margin-left: 0.5em;    
    margin-bottom: 0.5em;    
}

/* The clear: both property value specifies that no "floating" elements
   can be on the left or right side of the styled element (here, all
   <br> elements) -- i.e., in this case, it causes whatever is the next element 
    in the 'flow' to be displayed on the left side of the page) 
    -- NOTE: see related 'float' property: 
       http://www.w3schools.com/css/css_float.asp */
br {
    clear: both;
}

/* The styles for the classes */

/* Fig 4-11: The styles for the classes 
   which are set by adding a ...
   attribute ...;
   see http://www.w3schools.com/css/css_selectors.asp for more examples
   of element, class, and id selectors */
.pad_top {
    padding-top: 0.25em;
}
.margin_left {
    margin-left: 0.5em;
}

/* The styles for a table */

/* Fig 4-12: The styles for a ..., as well as ... and ... cells */
table {
    border: 1px solid black;
    border-collapse: collapse;   
}
th, td {
    border: 1px solid black;
    text-align: left;
    padding: .5em;
}

/* Fig 4-12: this will cause those elements marked
   with class="right" to have their text aligned on 
   the right side (see the rightmost elements in 
   the table)*/
.right {
    text-align: right;
}